<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.RoleMapper">


    <select id="queryListByUid" resultType="com.qf.entity.Role">
      select r.*,
        if((select rid from user_role_table where uid = #{uid} and rid = r.id),'true','false') as checked
        from role r
    </select>
</mapper>