<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>修改密码</h1>
    <form action="/sso/changePassword" method="post">
        新密码:<input name="password"/><br/>
        <input type="hidden" name="username" th:value="${#request.getParameter('username')}"/><br/>
        <input type="hidden" name="token" th:value="${#request.getParameter('token')}"/><br/>
        <button type="submit">修改密码</button>
    </form>
</body>
</html>