<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script src="js/jquery.js"></script>

    <script>
        //找回密码
        function sendPassMail(){
            var username = $("#username").val();

            $.get("/sso/sendPassMail", {"username":username}, function(data){

                if(data.code == "0000"){
                    //邮件发送成功
                    $("#spanid").html("找回密码的邮件已经发送到您的" + data.emailStr + "邮箱, <a href='http://" + data.goEmail + "'>去邮箱</a>");
                } else if(data.code == "1000"){
                    alert("用户名不存在！");
                }

            }, "json");
        }
    </script>

</head>
<body>
    <h1>忘记密码</h1>
    用户名：<input id="username" name="username"/><br/>
    <button type="button" onclick="sendPassMail();">找回密码</button><span id="spanid"></span>
</body>
</html>